#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* background-color: khaki; */
    height: 100vh;
}

.dashboard {
    /* background-color: aqua; */
    background-color: #fca5a5;
    display: grid;
    grid-template-rows: .15fr 1fr 2fr;
    justify-items: start;
}

.dashboard img {
    vertical-align: middle;
    margin-right: 5px;
    padding-left: 15px;
}

.navigation {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    /* background-color: palegoldenrod; */
    background-color: #fca5a5;
    align-items: center;
}

.branding {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    /* background-color:plum; */
    background-color: #fca5a5;
    justify-content: center;

}

.main {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr .5fr 4fr;
}

.header {
    /* background-color: lightgoldenrodyellow; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.search {
    /* background-color: olivedrab; */
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 10px;
    align-items: center;
}

.search>div>input {
    width: 80%;
    height: 30px;
    display: inline;
    color: #e7e5e4;
    border-radius: 7.5px;
}

.search>div>img {
    vertical-align: middle;
    margin: 0 10px 0 10px;
}

.search>div:nth-last-child(1)>* {
    display: inline;
    vertical-align: middle;
}

.hello {
    /* background-color: orangered; */
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}

.hello>div:nth-child(1) {
    display: grid;
    grid-template-columns: .25fr 2fr;
    align-items: center;
}

.hello>div>img {
    justify-self: center;
}

.hello>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.hello>div:nth-child(2)>button {
    height: 50%;
    margin: 10px;
    border-radius: 25px;
    border-collapse: collapse;
    background-color: #fca5a5;
}

.headings {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    align-items: end;
    background-color: #e7e5e4;
}

.headings>h2 {
    margin: 10px;
}


.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* background-color: lightgreen; */
    /* gap: 10px; */
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* background-color: mediumpurple; */
    background-color: #e7e5e4;
    gap: 5px;
}

.projects>div {
    background-color: white;
    border-style: ridge;
    border: 1px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.project-heading {
    grid-row: 1/2;
    align-self: end;
    margin-bottom: 5px;
}

.project-heading>h4 {
    margin: 0;
}

.project-description {
    grid-row: 2/3;
}

.project-description>p {
    margin: 0;
}

.icons {
    grid-row: 3/4;
    justify-self: end;
    align-self: end;
}

.right {
    display: grid;
    grid-template-rows: 1fr .25 fr 1fr;
    background-color: #e7e5e4;
}

.right>div {
    margin: 10px;
    border: ridge 1px gray;
    border-radius: 10px;
    /* border-style: ridge; */
    /* border: 1px gray; */
    /* border-radius: 5px; */
}

.right>h2 {
    align-self: end;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
}

.announcements>div {
    padding: 10px;
}

.people {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
}

.people>div {
    display: grid;
    grid-template-columns: .25fr 2fr;
    align-items: center;
}